@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1391px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
  background-color: #F8F9FA;
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 220px;
  background-color: #000;
}

.video__bg {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: none;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.video__button-circle {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.video__button-play {
  width: 42px;
  height: 42px;
}

.video:hover .video__button-circle,
.video__button:focus .video__button-circle {
  border-color: #ff0000;
}

.video__button:focus {
  outline: none;
}

.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
}

body._lock {
  overflow: hidden;
}

.header {
  width: 100%;
  z-index: 10;
  background-color: #F8F9FA;
  min-height: 154px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.header__logo {
  position: relative;
  z-index: 5;
  margin: 23px 0;
}

.header__motto {
  margin: 0 auto;
  color: #666666;
  z-index: 5;
  text-align: center;
}

.header__menu {
  max-width: 1361px;
  width: 100%;
}

.menu__icon {
  display: none;
}

.menu__body {
  background-color: #ffffff;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  bottom: -72%;
  left: 0;
}

.menu__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  overflow-x: hidden;
}

.menu__list li {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 29px 10px 27px 10px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__list li:hover {
  background-color: #F8F9FA;
  border-radius: 5px;
}

.menu__list li:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 15px;
  right: 0;
  width: 1px;
  height: 50px;
  border-right: 1px solid #E2E2E2;
}

.menu__link {
  text-align: center;
}

.footer {
  background-color: #ffffff;
  padding-bottom: 15px;
}

.footer__body {
  position: relative;
}

.footer__menu {
  position: absolute;
  top: -40px;
  left: 0;
  height: 80px;
}

.footer__descr {
  padding-top: 69px;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
  width: 100%;
  text-align: justify;
}

.footer__copyright {
  font-size: 14px;
  line-height: 20px;
  color: #999999;
  text-align: right;
  margin-top: -9px;
}

.photo {
  background-image: url("../img/index/photo-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 866px;
}

.photo__box-left,
.photo .photo__box-right {
  position: absolute;
  top: 45.7%;
}

.photo__box-left {
  left: 0;
}

.photo__box-right {
  right: 0;
  padding: 33px 20px 0px 41px;
}

.photo__box {
  padding-top: 418px;
  padding-left: 3px;
}

.photo__red-btn {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: #FF0000;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.photo__red-arrow {
  text-align: center;
  font-size: 36px;
  line-height: 83%;
  padding: 7px 7px 11px 7px;
  position: relative;
}

.photo__red-arrow:not(:last-child)::after {
  position: absolute;
  top: 9px;
  right: 0;
  content: "";
  border-right: 1px solid #ffffff;
  width: 1px;
  height: 30px;
}

.photo__block {
  display: none;
}

.repair-box {
  padding: 32px 30px 37px 29px;
  max-width: 280px;
  height: 217px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
}

.repair-box__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 32px;
}

.repair-box__img {
  margin-right: 7px;
  margin-top: 4px;
}

.repair-box__text {
  line-height: 138%;
  color: #666666;
}

.repair-box__button {
  display: inline-block;
  min-width: 200px;
  line-height: 19px;
  text-align: center;
  padding: 15px 15px 14px 15px;
  border: 1px solid #CECECE;
  border-radius: 100px;
}

.services {
  padding: 74px 0px 108px 0px;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.services__logo {
  max-width: 100%;
  margin-bottom: 28px;
}

.services__title {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 29px;
}

.services__title br {
  display: none;
}

.services__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 45px;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
  row-gap: 26px;
}

.services__box {
  max-width: 442px;
  width: 100%;
  height: 386px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.services__box-img {
  max-width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.services__box-mini {
  padding: 28px 0px 41px 0px;
}

.services__box-title {
  font-size: 20px;
  line-height: 130%;
  padding-bottom: 17px;
  border-bottom: 1px solid #E2E2E2;
  max-width: 355px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.services__box-text {
  line-height: 138%;
  max-width: 211px;
  margin: 0 auto;
  color: #666666;
}

.services__text {
  max-width: 811px;
}

.services__text br {
  display: none;
}

.mission {
  padding: 75px 0px 61px 0px;
  background-color: #ffffff;
}

.mission__title {
  padding: 26px 63px 27px 64px;
  background-color: #F8F9FA;
  text-align: center;
  font-size: 20px;
  margin-bottom: 33px;
}

.mission__block {
  padding: 0px 42px 0px 38px;
}

.mission__text {
  line-height: 185%;
  margin-bottom: 25px;
  color: #666666;
  text-align: center;
}

.mission__image {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 36px;
}

.mission__box-title {
  font-size: 20px;
  margin-bottom: 14px;
}

.mission__box-title br {
  display: none;
}

.mission__box-list {
  line-height: 175%;
  color: #666666;
}

.mission__box-item {
  list-style: disc;
  margin-left: 12px;
}

.video-bg {
  padding: 44px 0px 45px 0px;
}

.assortment__body {
  background-color: #ffffff;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 55px 42px 47px 49px;
}

.assortment__title {
  font-size: 20px;
  margin-bottom: 16px;
}

.assortment__text {
  color: #666666;
  margin-bottom: 33px;
  max-width: 821px;
}

.assortment__block {
  border-top: 1px solid #E2E2E2;
  padding-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.assortment__box-title {
  margin-bottom: 14px;
}

.assortment__box-list {
  color: #666666;
  padding-left: 9px;
  line-height: 176%;
}

.assortment__box-item {
  list-style: disc;
}

.check__body {
  padding: 60px 102px 48px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (580px)[2];
  grid-template-columns: repeat(2, 580px);
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 53px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.check__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.check__box:nth-child(2) .check__box-img,
.check__box:nth-child(4) .check__box-img {
  margin-right: 20px;
}

.check__box-img {
  max-width: 28px;
  margin-right: 21px;
}

.decision {
  padding-bottom: 101px;
}

.decision__body {
  background-color: #ffffff;
  height: 179px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  position: relative;
}

.decision__image {
  max-width: 100%;
  height: inherit;
}

.decision__block {
  max-width: 807px;
  position: absolute;
  top: 29px;
  left: 520px;
  right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.decision__block-text {
  color: #000000;
  margin-bottom: 20px;
}

.decision__block-button {
  display: inline-block;
  max-width: 230px;
  width: 100%;
  text-align: center;
  padding: 12px 15px 12px 10px;
  border: 1px solid #CECECE;
  border-radius: 100px;
  background-color: #fff;
}

@media (min-width: 1920px) {
  .header__motto {
    margin-top: 18px;
    padding-right: 185px;
  }
}

@media (max-width: 1361px) {
  .services__box {
    height: auto;
  }

  .services__box-title {
    width: 100%;
  }

  .check__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    padding-right: 0;
  }

  .decision__body {
    height: 220px;
  }

  .decision__block {
    left: 50%;
    top: auto;
  }
}

@media (max-width: 1200px) {
  .decision__body {
    height: 240px;
  }

  .decision__block {
    left: 65%;
  }
}

@media (max-width: 1100px) {
  .decision__body {
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .decision__image {
    height: 178px;
    margin-bottom: 27px;
  }

  .decision__block {
    position: static;
    padding: 0 15px;
  }

  .decision__block-button {
    margin-bottom: 36px;
  }
}

@media (max-width: 1019px) {
  .menu__body {
    bottom: -85%;
  }

  .menu__list li:nth-child(4)::after {
    top: 28px;
  }

  .footer__menu {
    height: 104px;
    top: -52px;
  }
}

@media (max-width: 783px) {
  .menu__list li:nth-child(3)::after {
    top: 28px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 738px;
  }

  .video {
    padding-bottom: 277px;
  }

  .video__button {
    top: 48%;
  }

  .video__button-circle {
    width: 40px;
    height: 40px;
    padding-left: 5px;
  }

  .video__button-play {
    width: 16px;
    height: 16px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 124px;
  }

  .header__body {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    margin-bottom: 34px;
  }

  .header__motto {
    padding: 0 25px;
    padding-right: 45px;
  }

  .header__menu {
    max-width: 100%;
    width: auto;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__list li {
    width: 100%;
  }

  .menu__list li:not(:last-child)::after {
    border-right: none;
    border-bottom: 1px solid #E2E2E2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  .menu__list li:nth-child(4)::after {
    top: 0;
  }

  .menu__list li:nth-child(3)::after {
    top: 0;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 40px;
    height: 22px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 4px;
    border-radius: 5px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #333333;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
    background-color: #999999;
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
    background-color: #999999;
  }

  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 130px 30px 30px 30px;
    -webkit-transition: top 0.5s ease 0s;
    -o-transition: top 0.5s ease 0s;
    transition: top 0.5s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 124px;
    background-color: #F8F9FA;
    z-index: 2;
  }

  .menu__link {
    font-size: 18px;
  }

  .footer {
    padding-top: 15px;
  }

  .footer__menu {
    display: none;
    height: auto;
  }

  .footer__descr {
    padding-top: 0;
    margin-bottom: 10px;
  }

  .footer__copyright {
    margin-top: 15px;
  }

  .photo {
    background-image: none;
    height: auto;
    margin-top: 127px;
  }

  .photo__box-left,
  .photo .photo__box-right {
    display: none;
  }

  .photo__box {
    display: none;
  }

  .photo__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 15px 0px 13px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 10px;
  }

  .repair-box {
    max-width: 327px;
    padding: 36px 39px 41px 38px;
  }

  .repair-box__info {
    margin-bottom: 14px;
  }

  .repair-box.second .repair-box__info {
    margin-left: 16px;
  }

  .repair-box.second .repair-box__text {
    margin-top: 2px;
  }

  .repair-box.second .repair-box__button {
    margin-left: 14px;
    margin-top: 4px;
  }

  .repair-box__img {
    width: 47.33px;
    height: 47.33px;
    margin-top: 2px;
  }

  .repair-box__button {
    min-width: 225px;
    padding-top: 18px;
    padding-bottom: 17px;
    margin-left: 12px;
    margin-top: 5px;
  }

  .services {
    padding: 62px 0px 30px 0px;
  }

  .services__logo {
    margin-bottom: 10px;
  }

  .services__title {
    font-size: 16px;
    line-height: 138%;
    margin-bottom: 20px;
  }

  .services__block {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 28px;
       -moz-column-gap: 28px;
            column-gap: 28px;
    margin-bottom: 22px;
  }

  .services__box {
    max-width: 327px;
    height: 282px;
  }

  .services__box:last-child .services__box-mini {
    padding: 21px 0px 22px 0px;
  }

  .services__box:last-child .services__box-title {
    padding-bottom: 5px;
    margin-bottom: 17px;
  }

  .services__box-mini {
    padding: 11px 0px 29px 0px;
  }

  .services__box-title {
    padding-bottom: 11px;
    max-width: 283px;
    margin-bottom: 19px;
  }

  .services__box-text {
    height: 33px;
    line-height: 130%;
  }

  .services__text {
    max-width: 685px;
  }

  .mission {
    padding-top: 154px;
    padding-bottom: 35px;
  }

  .mission__title {
    padding: 25px 15px 27px 15px;
    font-size: 16px;
    margin-bottom: 35px;
  }

  .mission__block {
    padding: 0;
  }

  .mission__text {
    margin-bottom: 35px;
    line-height: 140%;
  }

  .mission__text br {
    display: none;
  }

  .mission__image {
    margin-bottom: 30px;
  }

  .mission__box-title {
    font-size: 16px;
    margin-bottom: 7px;
  }

  .mission__box-item {
    margin-left: 9px;
  }

  .video-bg {
    padding: 41px 0px 26px 0px;
  }

  .assortment__body {
    padding: 35px 15px 32px 15px;
  }

  .assortment__title {
    margin-bottom: 20px;
    line-height: 125%;
  }

  .assortment__text {
    margin-bottom: 19px;
  }

  .assortment__block {
    padding-top: 23px;
    -webkit-column-gap: 31px;
       -moz-column-gap: 31px;
            column-gap: 31px;
  }

  .assortment__box-title {
    margin-bottom: 5px;
  }

  .check__body {
    padding: 51px 15px 40px 0px;
    -webkit-column-gap: 17px;
       -moz-column-gap: 17px;
            column-gap: 17px;
    row-gap: 31px;
  }

  .check__box:not(:first-child) br {
    display: none;
  }

  .check__box:nth-child(2) .check__box-img,
  .check__box:nth-child(4) .check__box-img {
    margin-right: 14px;
  }

  .check__box-img {
    margin-right: 12px;
    margin-left: -2px;
  }

  .decision {
    padding-bottom: 33px;
  }

  .decision__image {
    width: 706px;
  }

  .decision__block-text {
    margin-bottom: 26px;
  }
}

@media (max-width: 768px) and (max-width: 568px) {
  .menu__icon {
    margin-top: 13px;
  }

  .menu__body {
    padding-top: 155px;
  }

  .menu__body::before {
    min-height: 149px;
  }
}

@media (max-width: 768px) and (max-width: 380px) {
  .menu__icon {
    width: 30px;
    height: 20px;
  }
}

@media (max-width: 767px) {
  .decision__image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 710px) {
  .repair-box {
    padding: 20px;
    height: auto;
  }
}

@media (max-width: 630px) {
  .video {
    padding-bottom: 220px;
  }

  .photo__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .repair-box {
    padding: 32px 32px 37px 34px;
    width: 290px;
    height: 197px;
  }

  .repair-box__info {
    margin-bottom: 10px;
  }

  .repair-box.second .repair-box__info {
    margin-bottom: 6px;
  }

  .repair-box.second .repair-box__button {
    margin-left: 12px;
  }

  .repair-box.second .repair-box__img {
    margin-left: -4px;
  }

  .repair-box__img {
    width: 42px;
    height: 42px;
    margin-top: 4px;
    margin-right: 8px;
  }

  .repair-box__button {
    min-width: 200px;
    padding-top: 16px;
    padding-bottom: 15px;
    margin-top: 0;
    padding-right: 17px;
  }

  .services {
    padding: 47px 0px 24px 0px;
  }

  .services__logo {
    margin-bottom: 20px;
  }

  .services__block {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin-bottom: 33px;
  }

  .services__box-mini {
    padding-top: 8px;
  }

  .mission__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .video-bg {
    padding: 30px 0;
  }

  .assortment__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .check__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    padding-right: 0;
  }
}

@media (max-width: 568px) {
  .header {
    min-height: 149px;
  }

  .header__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__logo {
    margin-bottom: 14px;
  }

  .header__motto {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 21px;
  }

  .photo {
    margin-top: 150px;
  }
}

@media (max-width: 380px) {
  .header__motto {
    padding: 0;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }

  .video__button {
    top: 50%;
  }

  .video__button-circle {
    width: 100px;
    height: 100px;
    padding-left: 10px;
  }

  .video__button-play {
    width: 42px;
    height: 42px;
  }

  .footer__copyright {
    margin-top: -1px;
  }

  .services__title br {
    display: block;
  }

  .services__box {
    max-width: 290px;
    height: 250px;
  }

  .services__box:last-child .services__box-mini {
    padding: 17px 0px 20px 0px;
  }

  .services__box:last-child .services__box-title {
    padding-bottom: 2px;
    margin-bottom: 13px;
  }

  .services__box-title {
    padding-bottom: 8px;
    max-width: 250px;
    margin-bottom: 15px;
  }

  .services__text {
    max-width: 266px;
  }

  .services__text br {
    display: block;
  }

  .mission {
    padding-top: 173px;
    padding-bottom: 21px;
  }

  .mission__title {
    padding: 23px 12px 27px 12px;
    margin: 0px 13px 26px 13px;
  }

  .mission__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .mission__text {
    max-width: 264px;
    margin-bottom: 27px;
  }

  .mission__image {
    margin: 0px 5px 22px 5px;
    height: 76px;
  }

  .mission__box-title {
    max-width: 264px;
    margin-bottom: 21px;
  }

  .mission__box-title br {
    display: block;
  }

  .mission__box-list {
    max-width: 264px;
  }

  .assortment__body {
    padding: 31px 13px 28px 13px;
  }

  .assortment__title {
    font-size: 16px;
    margin-bottom: 17px;
    line-height: 150%;
  }

  .assortment__text {
    font-size: 15px;
    margin-bottom: 31px;
    line-height: 147%;
  }

  .assortment__block {
    padding-top: 33px;
    row-gap: 22px;
  }

  .assortment__box-title {
    margin-bottom: 1px;
  }

  .assortment__box-list {
    line-height: 175%;
  }

  .assortment__box:last-child .assortment__box-title {
    margin-bottom: 5px;
  }

  .check__body {
    padding-top: 50px;
    padding-bottom: 43px;
    row-gap: 0;
  }

  .check__box {
    display: block;
  }

  .check__box:nth-child(1) {
    margin-bottom: 44px;
  }

  .check__box:nth-child(2) {
    margin-bottom: 34px;
  }

  .check__box:nth-child(3) {
    margin-bottom: 30px;
  }

  .check__box:nth-child(3) br {
    display: block;
  }

  .check__box:nth-child(2) .check__box-img,
  .check__box:nth-child(4) .check__box-img {
    margin-right: 0;
    margin-bottom: 7px;
  }

  .check__box:nth-child(3) .check__box-img,
  .check__box:nth-child(4) .check__box-img {
    margin-left: -1px;
  }

  .check__box:nth-child(3) .check__box-img {
    margin-bottom: 7px;
  }

  .check__box:nth-child(4) .check__box-img {
    margin-bottom: 11px;
  }

  .check__box-img {
    margin-right: 0;
    margin-bottom: 4px;
  }

  .decision {
    padding-bottom: 23px;
  }

  .decision__image {
    margin-bottom: 16px;
  }

  .decision__block {
    padding: 0 12px;
  }

  .decision__block-text {
    margin-bottom: 28px;
  }

  .decision__block-button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 35px;
  }
}